.nav,
.highlight,
.gwt-DialogBox .dialogTop
{
	background-color: yellow;
}

.gwt-DialogBox .dialogTop
{
	font-weight: bold;
}

.gwt-SuggestBoxPopUp,
.gwt-DialogBox
{
	position: absolute;
	z-index: 100;
	background-color: #CCCCCC;
}

.gwt-SuggestBoxPopUp .item-selected
{
	background-color: #00FFFF;
}

.nav
{
	background-color: yellow;
}

.poolListing,
.poolListingItem
{
	width: 100%;
}

.poolListingDelete,
.poolListingInvite
{
	position: relative;
	float: right;
}

.help_rhyme
{
	position: relative; 
	float: left;
	margin-right: 20px;
	margin-bottom: 5px;
}

.checkeredFlag-TopLeft
{
	background-color: #DDDDFF;
}

.checkeredFlag-NotTopLeft
{
	background-color: #DDDDDD;
}

.locationTitle
{
	font-style: italic;
	text-decoration: underline;
}
